{% load static %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url 'index' %}">Mentor</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="{{i_act}}" href="{% url 'index' %}">Home</a></li>
          <li><a class="{{a_act}}" href="{% url 'about' %}">About</a></li>
          <li><a class="{{c_act}}" href="{% url 'courses' %}">Courses</a></li>
          <li><a class="{{t_act}}" href="{% url 'trainer' %}">Trainers</a></li>
          <li><a class="{{e_act}}" href="{% url 'events' %}">Events</a></li>
          <li><a class="{{p_active}}" href="{% url 'pricing' %}">Pricing</a></li>
          <li><a class="{{con_act}}" href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

      <a href="{% url 'courses' %}" class="get-started-btn">Get Started</a>

    </div>
  </header>